
<section id="main">
    <div class="mainHeader">
        <div class="nome">
          <h2>MY PC RUN<i class="fas fa-fire" id="fire"></i></h2> 
        </div> 
        
        <h4>descubra  o <span class="poder">PODER</span> do seu  PC</h4>
         
        <form id="search" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder=" Search" aria-label="Search">
          <button class="buttonStyle" type="submit">Buscar</button>
        </form>
        
          <nav id="menu" class="navbar navbar-dark bg-dark">
            <button mat-button [matMenuTriggerFor]="menu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
        <div class="MenuItens">
          <mat-menu id="itemMenu" #menu="matMenu">
            <button mat-menu-item>Checagem de Hardware</button>
            <button mat-menu-item>Teste Benchmark</button>
            <button mat-menu-item>Tecnologia e Inovação</button>
            <button mat-menu-item>Dicas de desempenho</button>
            <button mat-menu-item>Sobre</button>
          </mat-menu>
        </div>
        

    </div>

 
    
    <div class="mainNav">
      <div class="welcome" *ngIf="viewWelcome">
          <h1>Conheça sua verdadeira força!</h1>
           <p>O melhor da tecnologia em suas mãos.</p>
          <br><button class="buttonStyle" (click)="onViewWelcome()">Iniciar</button>
        
      </div>
      
      <app-form-especificacoes *ngIf="!viewWelcome"></app-form-especificacoes>
     <div *ngIf="viewWelcome" class="fb-comments" data-href="http://localhost:4200/" data-numposts="5"></div>

      
    </div>

    
   
    <aside class="mainAside">
          
          <div class="conteudoEsquerda">
              
             
        <nav>
            <ul class="txtRodape">
                <li><a href="">Fale conosco</a></li>
                <li><a href="">Nosso e-mail</a></li>
                <li><a href="">Desenvolvedores</a></li>
                <li><a href="">&copy; Copyright 2019</a></li>
            </ul>
        </nav>
           
         </div>

    </aside>
  </section>
