
input[type=text], select, option {
  border: 1px solid #000000c7;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 13pt;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  background-color: rgba(76, 52, 254, 0.0);
  height: 43px;

}
  input[type=text]:hover, select:hover  {
    border: 1px solid #000000;
    box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgba(206, 206, 206, 0.336);
  font-weight: 700;
}
label {
  color: #0c0b0b;
  font-size: 13pt;
  font-family: 'Ubuntu', sans-serif; 
}
.formulario {
  background-color: #3f9bf73f;
  width: 500px;
  height: 500px;
  border-radius: 5px;
  border: #0836544b 1px solid;
  font-weight: 700;
  padding: 20px;
  margin-top: 40px;
  left: 50%;
  margin-left: -250px; 
  position: absolute;
  
}
.card{
  margin-top: 39px;
  padding: 8px;
  left: 50%;
  margin-left: -175px; 
  position: absolute;
  width: 350px;
  background-color: #3f9bf73f;
}
p{
  text-align: justify;
}
.card img{
  width: 100%;
  height: 66px;
  border-radius: 30px;
}
.card input:hover{
  background-color:rgb(235, 235, 236);
}

#informativo{
  width: 800px;
  margin-top: 40px;
  padding: 8px;
  left: 3%;
  position: absolute;
  border-radius: 5px;
  width: 350px;
  background-color: #d7d9db4f;
  border: #031c2cb7 1px solid;
}
#informativo:hover{
  background-color: rgba(189, 189, 189, 0.158);
}
#publicidade{
  margin-top: 40px;
  right: 4%;
  position: absolute;
  height: 500px;
  background: rgb(19, 19, 19);
  
}
#publicidade img{
  height: 440px;
  width: 320px;
}

.card button {
  margin-top: 10px;
  margin-left: 28px;
  width: 230px;
  height: 45px;
  background-color: #40cf72;
  color: black;
  border: 1px solid #083654;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
      font-weight: 900;
      letter-spacing: 1px;
  
}
.card button:hover{
  transition: 0.2s;
  background-color: #0a9eee;
  border: 1px solid black;
      color: white;
}

.list-unstyled{
  background-color: rgba(76, 52, 254, 0.1);
  border: #0836544b 1px solid;
  width: 575px;
  height: 565px;
  border-radius: 10px;
  font-weight: 700;
  padding: 20px;
  margin-top: 40px;
  left: 50%;
  margin-left: -280px; 
  position: absolute;
  font-size: 14px;
  margin-bottom: 20px;

}
/*mat-option{
  background: #df5a02;
}*/

.pro {
  background-color: rgba(175, 35, 10, 0);
}
.buttonStyle {
  background-color: #40cf72;
  color: black;

  padding: 3% 12% 3% 12%;
  margin: 4% 0% 5% 22%;
  border: 1px solid #083654;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
      font-weight: 900;
      letter-spacing: 1px;
}

.buttonStyle:hover {
      transition: 0.2s;
  background-color: #0a9eee;
  border: 1px solid black;
      color: white;
}
